# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.R
.Rproj.user
inst/doc
#Paper
*.aux
*.bbl
*.blg
*.log
*.synctex.gz

# paper materials
paper/paper.tex
paper/*cache
paper/*files
